<app-header></app-header>

<div class="container-fluid py-2 my-2">
    <div class="container pt-2">
        <div class="row g-3">
            <div class="col-lg-4 col-md-6 col-sm-3">
                <div class="h-100 position-relative">
                    <div data-aos="zoom-in">
                        <div>
                            <img src="../../assets/dalma-1.png" class="img-fluid rounded" alt=""
                                style="margin-top: 20px;margin-left: 10%;width: 65%;">
                        </div>
                        <div class="position-absolute w-75" style="top: 50%; left: -20%;">
                            <img src="../../assets/meat.png" class="img-fluid w-50 rounded" alt="">
                        </div>
                        <div class="position-absolute" style="top: 100%; right: 60%;width: 55%;">
                            <img src="../../assets/mitha.png" class="img-fluid rounded" alt="">
                        </div>
                        <div class="position-absolute w-50" style="top: 110%; left: 45%;">
                            <img src="../../assets/panipuri.webp" class="img-fluid w-75 rounded" alt="">
                        </div>

                        <div class="position-absolute w-50" style="top: 50%; margin-left: 70%;">
                            <img src="../../assets/sweetfood.png" class="img-fluid w-10 rounded" alt="">
                        </div>
                        <div>
                            <img src="../../assets/myCK.png"
                                style="max-width: 40%; max-height: 40%;margin-left: 100px;margin-top: -40pxpx ;border-radius: 30%"
                                alt="Your Image Alt Text">
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-7 col-md-9 col-sm-10"
                style="position: relative; left: 38%; transform: translateX(-50%);">
                <h2 class="heading" data-aos="fade-down">About Us</h2>
                <h5 class="mb-2" data-aos="fade-right">"Innovative culinary concepts and streamlined kitchen solutions"
                </h5>
                <p data-aos="fade-up-left">
                    Our Cloud kitchen come with restaurant management technology that streamlines delivery orders
                    and
                    delivers business
                    insights. Cloud kitchen, also known as virtual kitchen, is commercial kitchens
                    built for food delivery.
                    It is located within the delivery radius of online customers, rather than high
                    foot traffic areas.
                    With Cloud kitchen, there’s no physical storefront or dining area, so you only need a few
                    back-of-house staff members
                    to fulfill online orders. It basically more comfort price wise and also test wise .</p>
                <p class="mt-1" style="text-align: center;" data-aos="fade-down-right">Feel the test of your Home Food
                    with us !!</p>
            </div>
        </div>
    </div>
</div>