<div class="text-center mx-auto pb-5" style=" max-width: 600px;">
    <h2 class="text-dark" style="margin-top: 10px;margin-top: 25px;">Meet our star chefs</h2>
</div>
<div class="row g-5" style="margin-left: 15px;margin-top: -80px;">
    <div class="col-md-6 col-lg-4" data-aos="fade-down">
        <div class="rounded team-item">
            <div class="team-content w-80 text-center">
                <div class="team-img-icon w-10 mx-2">
                    <div class="team-img w-60 rounded-circle mx-auto">
                        <img src="../../assets/chef1.jpg" style="height: 270px;width: 260px;"
                            class="img-fluid w-100 rounded-circle" alt="">
                    </div>
                    <div class="team-name text-center py-3">
                        <h4 class="">Ms. Ananya Das</h4>
                        <p class="m-0" style="font-size: 22px;">Head Chef</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4" data-aos="fade-up">
        <div class="rounded team-item">
            <div class="team-content w-80 text-center">
                <div class="team-img-icon w-10 mx-2">
                    <div class="team-img w-60 rounded-circle mx-auto">
                        <img src="../../assets/chef2.jpg" style="height:270px;width: 260px;"
                            class="img-fluid w-100 rounded-circle" alt="">
                    </div>
                    <div class="team-name text-center py-3">
                        <h4 class="">Mr. Rabin Snaz</h4>
                        <p class="m-0" style="font-size: 22px;">Sous Chef</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4" data-aos="fade-down">
        <div class="rounded team-item">
            <div class="team-content w-80 text-center">
                <div class="team-img-icon w-10 mx-2">
                    <div class="team-img w-60 rounded-circle mx-auto">
                        <img src="../../assets/chef3.png" style="height: 270px;width: 260px;"
                            class="img-fluid w-100 rounded-circle" alt="">
                    </div>
                    <div class="team-name text-center py-3">
                        <h4 class="">Mr. Rohit Nayak</h4>
                        <p class="m-0" style="font-size: 22px;">Pastry Chef</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>