<div class="text-center mx-auto mt-5 pb-5" style="max-width: 600px;">
    <h4>Our Testimonial</h4>
    <h2>Our Client Saying!</h2>
</div>
<div class="row g-5" style="margin-top: -80px;">
    <div class="col-md-6 col-lg-4 aos fadeIn" data-aos="fade-down">
        <div class="testimonial-item border p-4">
            <div class="d-flex flex-column align-items-center" style="margin-top: -10px;">
                <div class="rounded-circle overflow-hidden" style="width: 120px; height: 120px;">
                    <img src="../../assets/PrincipalSir.jpg" alt="" style="height: 100%;width: 100%;">
                </div>
                <div class="mt-2" style="margin-top: 20px;">
                    <h5 class="text-primary">Dr. Raghunath Sahu</h5>

                    <div class="d-flex pe-5">
                        <i class="fa fa-star me-1 orange"></i>
                        <i class="fa fa-star me-1 orange"></i>
                        <i class="fa fa-star me-1 orange"></i>
                        <i class="fa fa-star me-1 orange"></i>
                        <i class="fa fa-star me-1 orange"></i>
                    </div>
                </div>
            </div>
            <div class="border-top pt-2">
                <p class="mb-0">With an ambiance that elevates every bite, I wholeheartedly recommend this culinary
                    haven
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 aos fadeIn" data-aos="fade-down">
        <div class="testimonial-item border p-4">
            <div class="d-flex flex-column align-items-center" style="margin-top: -10px;">
                <div class="rounded-circle overflow-hidden" style="width: 120px; height: 120px;">
                    <img src="../../assets/hodmaam.jpeg" alt="" style="height: 100%;width: 100%;">
                </div>
                <div class="mt-2" style="margin-top: 20px;">
                    <h5 class="text-primary">Dr. Rajlaxmi Mishra</h5>

                    <div class="d-flex pe-5">
                        <i class="fa fa-star me-1 orange"></i>
                        <i class="fa fa-star me-1 orange"></i>
                        <i class="fa fa-star me-1 orange"></i>
                        <i class="fa fa-star me-1 orange"></i>
                        <i class="fa fa-star me-1 orange"></i>
                    </div>
                </div>
            </div>
            <div class="border-top pt-2">
                <p class="mb-0">The ambiance is superb, I highly recommend this food corner because the
                    food was amazing</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 aos fadeIn" data-aos="fade-down">
        <div class="testimonial-item border p-4">
            <div class="d-flex flex-column align-items-center" style="margin-top: -10px;">
                <div class="rounded-circle overflow-hidden" style="width: 120px; height: 120px;">
                    <img src="../../assets/Sudhie sir.jpg" alt="" style="height: 100%;width: 100%;">
                </div>
                <div class="mt-2" style="margin-top: 20px;">
                    <h5 class="text-primary">Mr. Sudhir Kumar Senapati</h5>

                    <div class="d-flex pe-5">
                        <i class="fa fa-star me-1 orange"></i>
                        <i class="fa fa-star me-1 orange"></i>
                        <i class="fa fa-star me-1 orange"></i>
                        <i class="fa fa-star me-1 orange"></i>
                        <i class="fa fa-star me-1 orange"></i>
                    </div>
                </div>
            </div>
            <div class="border-top pt-2">
                <p class="mb-0">The dishes are nothing short of amazing, just like the atmosphere</p>
            </div>
        </div>
    </div>
</div>