<app-header></app-header>
<div class="loginBox"> <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
    <h3>Update Food</h3>
    <form method="post">
        <div class="inputBox">

            <input id="fname" type="text" name="Foodname" placeholder="Foodname">
            <input id="price" type="text" name="Price" placeholder="Price">
            <input id="description" type="text" name="description" placeholder="How is the taste ?">

        </div> <input type="submit" name="" value="ADD">
    </form>

</div>