<header class="header" id="header">
    <img class="logo" src="../../assets/myCK.png" alt="img">
    <ul class="main-nav">
        <li><a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fas fa-home"></i>&nbsp;Home</a></li>
        <li><a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fas fa-pizza-slice"></i>&nbsp;Food</a></li>
        <li><a routerLink="/adminLogin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fas fa-user-circle"></i>&nbsp;Admin</a></li>
        <li><a routerLink="/contactUs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fas fa-phone"></i>&nbsp;Contact</a></li>
        <li><a routerLink="/become-partner" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fas fa-handshake"></i>&nbsp;Become a partner</a></li>
        <li><a routerLink="/cart" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fas fa-cart-shopping"></i>&nbsp;Cart</a></li>
        <li><a routerLink="/logout"><i class="fas fa-right-from-bracket"></i>&nbsp;Logout</a></li>
    </ul>
</header>