<!-- <app-header></app-header>
<div class="loginBox"> <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
    <h3>Introducing New Food</h3>
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <div class="inputBox">
            <input id="fname" type="text" name="Foodname" placeholder="Foodname" required ngModel>
            <input id="price" type="text" name="Price" placeholder="Price" required ngModel>
            <input id="description" type="text" name="description" placeholder="How is the taste ?" required ngModel>

        </div>
         <input type="submit" name="" value="ADD"> -->
<!-- <button type="submit">ADD</button>
    </form>

</div>  -->