<div class="">
    <footer class="text-center text-lg-start text-light"
        style="background: linear-gradient(to bottom,#0f0c29,#7d72ee,#2020e9);">
        <div class="container">
            <section>
                <hr />
                <div class="row" data-aos="zoom-in">
                    <div class="col-md-4 col-lg-3 col-xl-2 mt-3">
                        <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-3 mx-auto"
                            style="width: 80px; height: 80px">
                            <img src="../../assets/myCK.png" height="120px" alt="" loading="lazy"
                                style="border-radius: 30%" />
                        </div>
                        <p style="padding-top: 1.5rem;">
                            Established in 2024, Cloud Kitchen is a leading digital
                            food system. We are committed to providing healthy and affordable meals for our customers.
                        </p>
                    </div>

                    <hr class="w-100 clearfix d-md-none " />

                    <hr class="w-100 clearfix d-md-none" />

                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3" style="margin-left: 20px;">
                        <h5 class="text-uppercase mb-4 font-weight-bold">Quick Links</h5>
                        <p>
                            <a class="text-light" routerLink="/dashboard" style="text-decoration: none">Home</a>
                        </p>
                        <p>
                            <a class="text-light" routerLink="/food" style="text-decoration: none">Food</a>
                        </p>
                        <p>
                            <a class="text-light" routerLink="/adminLogin" style="text-decoration: none">Admin</a>
                        </p>
                        <p>
                            <a class="text-light" routerLink="/contactUs" style="text-decoration: none">Contact</a>
                        </p>
                        <p>
                            <a class="text-light" routerLink="/become-partner" style="text-decoration: none">Become a
                                partner</a>
                        </p>
                        <p>
                            <a class="text-light" routerLink="/cart" style="text-decoration: none">Cart</a>
                        </p>
                    </div>

                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3 " style="margin-left: 20px;">
                        <h5 class="text-uppercase mb-4 font-weight-bold">Legal</h5>
                        <p>
                            <a class="text-light" href="#" style="text-decoration: none">Term of Service</a>
                        </p>
                        <p>
                            <a class="text-light" href="#" style="text-decoration: none">Privacy Policy</a>
                        </p>
                    </div>

                    <hr class="w-100 clearfix d-md-none" />

                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 " style="margin-left: 20px;">
                        <h5 class="text-uppercase mb-4 font-weight-bold">Contact</h5>
                        <p>
                            <i class="fas fa-home mr-3"></i> Bhubaneswar, Odisha, INDIA
                        </p>
                        <!-- <p>
                            <i class="fas fa-envelope mr-3"></i> shrabaninayak18
                        </p> -->
                        <p><i class="fas fa-phone"></i> + 91 - 6371396881</p>
                        <p><i class="fas fa-print"></i> + 0674-426-02222</p>
                        <p><i class="fas fa-laptop"></i> Opening Hours : 09:00 - 18:00</p>
                    </div>
                </div>
            </section>

            <hr class="my-3" />

            <section class="p-3 pt-0">
                <div class="row d-flex align-items-center">
                    <div class="col-md-7 col-lg-8 text-center text-md-start">
                        <div class="p-3">
                            © 2024 Copyright:
                            <a class="text-light" href="#">Cloud Kitchen</a>
                        </div>
                    </div>

                    <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                        <a class="btn btn-outline-light btn-floating m-1" role="button"><i
                                class="fa-brands fa-facebook"></i></a>

                        <a class="btn btn-outline-light btn-floating m-1" role="button"><i
                                class="fa-brands fa-twitter"></i></a>

                        <a class="btn btn-outline-light btn-floating m-1" role="button"><i
                                class="fa-brands fa-google"></i></a>

                        <a class="btn btn-outline-light btn-floating m-1" role="button"><i
                                class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </section>
        </div>
    </footer>
</div>