<!-- Fact Start -->
<div class="container-fluid bg-primary py-3" style="margin-top: 205px;">
    <div class="container">
        <div class="row" data-aos="zoom-out">
            <div class="col-lg-3 wow fadeIn" data-wow-delay=".1s">
                <div class="d-flex counter">
                    <h1 class="me-3 text-white counter-value">99</h1>
                    <h5 class="text-white mt-1" style="font-weight: 600;">Success in getting happy customer</h5>
                </div>
            </div>
            <div class="col-lg-3 wow fadeIn" data-wow-delay=".5s" style="margin-left: 15%;">
                <div class="d-flex counter">
                    <h1 class="me-3 text-white counter-value">120</h1>
                    <h5 class="text-white" style="font-weight: 600;">Total clients who love Cloud Kitchen</h5>
                </div>
            </div>
            <div class="col-lg-3 wow fadeIn" data-wow-delay=".7s" style="margin-left: 10%;">
                <div class="d-flex counter">
                    <h1 class="me-3 text-white counter-value">5</h1>
                    <h5 class="text-white mt-1" style="font-weight: 600;">Stars reviews given by satisfied clients</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fact End -->