<app-header></app-header>

<div style="margin-top: 55px;">
    <div style="position: relative;">
        <video autoplay loop style="width: 100%;">
            <source src="../../assets/food.mp4" type="video/mp4">
        </video>
        <div style="position: absolute; top: 8%; left: 28%;right: 20%; transform: translate(-50%);">
            <p style="color: yellow;font-weight: bolder;font-size:50px;" data-aos="fade-right">Maximize Your Kitchen
                Profits With Us</p>
            <p style="color: #fff;font-weight:600;font-size:20px;" data-aos="fade-left">Join the fastest growing dynamic
                kitchen in the
                country</p>
            <img src="../../assets/biriyani.png" alt="image not found" data-aos="flip-left">
        </div>
    </div>

    <app-about></app-about>
    <app-fact></app-fact>
    <app-chef></app-chef>
    <app-testmonial></app-testmonial>
    <app-partner></app-partner>
    <app-footer></app-footer>